

# windows
desktop.ini

# macOS
.DS_Store


# trash files
___.3333

# download files
## npm
node_modules/
## seafile
seafile-server_7.0.5_stable_pi.tar.gz
## docker
containerd.io_*.deb  
docker-ce-cli_*.deb  
docker-ce_*.deb 


## build files

port80/http_server
*.crt
*.key


*.__gen__
/config.ini
