

# check whether mountpoint or not
mntpoint="${base_dir_data}"
if  ! mountpoint "${base_dir_data}"
then
	echo "[ERR]::$0::please mount disk to '${base_dir_data}'"
	exit 1
fi



container_name="${server_name}_server"
dataPath="${base_dir_data}/data.${server_name}"
if [ ! -e "${dataPath}" ];then
	mkdir -p  "${dataPath}"
fi
chown "${uid}:${gid}" "${dataPath}"


if [ `docker ps -aq -f name=^"${container_name}"$` ];then
	echo "[INFO]::$0::container is starting::${container_name}"
	docker start  "${container_name}"
    exit 0
fi

