

if [ -z "${mp4server_port}" ];then
	mp4server_port=(10001)
fi

# run docker container
docker run -d  \
	-v "${dataPath}":/data  \
	-p  ${mp4server_port[0]}:8080  \
	--name="${container_name}"  \
	inthbl/mp4server-armhf




