


config_file="/etc/server.lan/config.ini"
# etc  /etc/server.lan/...
if [ ! -e "config.ini" ];then
    echo "[Err]::no <config.ini>::please copy <config.ini.template> to <config.ini>,and edit it"
    exit 1
fi

if [ ! -e ${config_file} ];then

    if [ ! -e "`dirname "${config_file}"`" ];then
        mkdir -p "`dirname "${config_file}"`"
    fi

    cp  config.ini  "${config_file}"

fi

source  "${config_file}"
